*{
    margin: 0;
    padding: 0;
}


.header{
    background-color: #13191a;
    width: 100vw;
    height: 15vw;
    font-size: 8vw;
    color: white;
    text-align: center;
    align-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.5vw;
}

