:root {
    --small: 4vw;
    --regular: 5vw;
    --large: 6vw;
    --xlarge: 8vw;
}


* {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: var(--regular);
}


.appWrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.figtree-appWrapper {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}



.middle {
    flex-grow: 1;
    font-family: inherit;
    position: relative;
}

#homeSection,
#howToSection,
#configSection,
#helpSection {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.2vw 5vw 2.2vw 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#homeSection {
    background-image: linear-gradient(to right, #FFD4D4, #CEFFD6);
}

#configSection {
    opacity: 0.97;
    z-index: -1;
    background-image: linear-gradient(to right, #000000, #3C6248);

}

#howToSection {
    opacity: 0.97;
    z-index: -1;
    background-image: linear-gradient(to right, #000000, #543434);
    color: white;
    padding-top: 4vw;
    justify-content: space-evenly;
}
#helpSection {
    opacity: 0.97;
    z-index: -1;
    background-image: linear-gradient(to right, #000000, #3C5B62);
    color: white;
    justify-content: space-evenly;
    padding-top: 8vh;
    padding-bottom: 8vh;
    font-weight: 500;
    line-height: 1.7em;
    letter-spacing: 1px;
    font-size: var(--small);
}

.header {
    background-color: #000000;
    font-family: inherit;
    padding: 3vw;
    font-size: var(--large);
    font-weight: 700;
    letter-spacing: 1vw;
    color: white;
    text-align: center;
    cursor: pointer;
}

.howWrapper {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 33, 61);

}

.howTxt {
    padding: 0vw 2vw;
    cursor: pointer;
}

.tvWrapper {
    height: 30vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: all;
    border: 2vw solid rgb(0, 21, 50);
    border-radius: 10%;
}

@keyframes randomBorder {
    0% {
        border-color: rgb(0, 21, 50);
    }

    50% {
        border-color: rgb(162, 162, 162);
    }

    100% {
        border-color: rgb(0, 21, 50);
    }
}

.ans {
    width: 100%;
    height: 100%;
    padding: 6vw 3vw;
    text-align: center;
    align-content: center;
    text-wrap: wrap;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    color: rgb(1, 43, 66);
    font-size: var(--small);
    font-weight: 700;
    user-select: all;
    border: none;
}


.botImg {
    z-index: 2;
    width: 50%;
    position: absolute;
    opacity: 0.2;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}

@keyframes botblink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

.voiceWrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: visible;
}

.voiceWrapper span {
    align-content: center;
    font-size: var(--xlarge);
}

.select {
    margin-right: 3vw;
    text-align: center;
    align-content: center;
    padding: 2vw 4vw;
    font-size: var(--regular);
    background-color: #004AAD;
    border: 1vw solid #0046a1;
    color: white;
    letter-spacing: 0.5vw;
    font-weight: 500;
    cursor: pointer;
}

.voicesContainer{
    position: absolute;
    left: 0;
    top: 102%;
    border: 1px solid black;
    width: 60vw;
    height: 20vh;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.voice{
    border-bottom: 1px solid gray;
    background-color: rgb(255, 255, 247);
    font-size: var(--small);
    font-weight: 500;
    padding: 2vw 1vw;
}
.voiceActive{
    background-color: rgb(238, 249, 251);
}
.hide{
    display: none;
}

.speak {}

.mute {
    color: rgb(138, 0, 0);
}

.clear {
    color: rgb(66, 66, 66);
}

.interimWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25vh;
}

.interim {
    border: 1px solid gray;
    height: 10vh;
    width: 100%;
    background-color: rgb(242, 251, 251);
    overflow-y: scroll;
    text-wrap: wrap;
    font-size: var(--small);
    font-weight: 500;
    padding: 2vw;
    line-height: 1.3em;
    align-content: center;
    text-align: center;
}

.btnWrapper {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.6vw;
    font-weight: 800;
}

.start {
    border: 1px solid gray;
    display: inline-block;
    height: 7vh;
    width: 42%;
    text-align: center;
    align-content: center;
    font-size: var(--large);
    background-color: #67DB00;
    cursor: pointer;
}

.stop {
    border: 1px solid gray;
    display: inline-block;
    height: 7vh;
    width: 42%;
    text-align: center;
    align-content: center;
    font-size: var(--large);
    background-color: #D40000;
    color: white;
    cursor: pointer;
}

.psmWrapper,
.amaWrapper {
    height: 25vh;
    width: 85%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.psmWrapper div {
    height: 30%;
    align-content: center;
}

.psmWrapper label {
    display: flex;
    justify-content: space-between;
    font-size: var(--regular);
}

.psmWrapper input[type="text"] {
    padding: 1vw;
    width: 70%;
    font-size: var(--small);
    letter-spacing: 1.5px;
}

.psmWrapper input[type="range"] {
    width: 70%;
}

.helpTxt {
    color: #F0FFE0;
    font-size: var(--regular);
    font-weight: 500;
    line-height: 1.5em;
}

.helpTxt strong {
    color: #4DFF00;
}

.amaWrapper {
    height: 40vh;
    padding-bottom: 5vh;
}

.amaWrapper input[type="text"] {
    padding: 1vw;
    width: 100%;
    font-size: var(--small);
    letter-spacing: 1.5px;
}

.amaWrapper label {
    line-height: 1.7em;
}

.cross {
    position: absolute;
    top: 1vw;
    right: 5vw;
}

.cross span {
    font-size: var(--xlarge);
    color: white;
    font-weight: 700;
    display: inline;
}

.demolink{
    letter-spacing: 1px;
    font-weight: 500;
    color: #F0FFE0;
}
.steps h3{
    padding-bottom: 2.2vw;
}

 li{
    font-size: var(--small);
    font-weight: 500;
    padding: 0vw 2vw 1vw 3vw;
    line-height: 1.7em;
    letter-spacing: 1px;
    display: block;
} 

ul.custom-bullets {
    list-style: none; /* Remove default bullets */
    padding-left: 2vw; /* Adjust padding to make space for custom bullets */
  }

  ul.custom-bullets li {
    position: relative; /* Positioning context for the ::before pseudo-element */
    padding-left: 5vw; /* Space for the custom bullet */

  }

  ul.custom-bullets li::before {
    content: ''; /* No text content, just a bullet */
    position: absolute; /* Position it relative to the list item */
    left: 0; /* Align to the left of the list item */
    top: 0.5em; /* Adjust vertically as needed */
    width: 2vw; /* Custom bullet width */
    height: 2vw; /* Custom bullet height */
    background-color: white; /* Bullet color */
    border-radius: 50%; /* Make it a circle */
  }

  .reason{
    color: #F0FFE0;
  }

  .safety{
    color: #D40000;
    background-color: white;
    padding: 2vw;
  }

