*{
    margin: 0;
    padding: 0;
    user-select: none;
}


.header{
    background-color: #13191a;
    width: 100vw;
    height: 10vw;
    font-size: 8vw;
    color: white;
    text-align: center;
    align-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.5vw;
}

.speakBtn{
    display: inline-block;
    width: 40vw;
    padding: 3.3vw;
    font-size: 6vw;
    border: 2px solid rgb(0, 129, 49);
    text-align: center;
    color: black;
    cursor: pointer;
}
.clearBtn{
    display: inline-block;
    width: 40vw;
    padding: 3.3vw;
    font-size: 6vw;
    border: 2px solid rgb(162, 1, 1);
    text-align: center;
    color: black;
    cursor: pointer;
}
.startBtn{
    display: inline-block;
    width: 40vw;
    padding: 3.3vw;
    font-size: 6vw;
    border: 2px solid rgb(0, 129, 49);
    text-align: center;
    color: black;
    cursor: pointer;
}
.stopBtn{
    display: inline-block;
    width: 40vw;
    padding: 3.3vw;
    font-size: 6vw;
    border: 2px solid rgb(162, 1, 1);
    text-align: center;
    color: black;
    cursor: pointer;
}
.speechTxt{
    width: 90vw;
    height: 60vw;
    padding: 3.3vw;
    text-wrap: wrap;
    border: 2px solid gray;
    user-select: all;
}
.interim{
    padding: 2.2vw;
    background-color: lightgoldenrodyellow;
    color: black;
    border: 1px solid gray;
    height: 8vw;
    user-select: all;
}